@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
<link href="~/css/site.css" rel="stylesheet" />
<br /><br /><br /><br />
<div class="container text-center">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Тук тук</button>
</div>


<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Кто там?</h4>
            </div>
            <div class="modal-body">
                <form action="home/SetName">
                    <input type="text" name="name" autofocus="" class="form-control">
                </form>
            </div>
            <div class="modal-footer">
                .........
            </div>
        </div>
    </div>
</div>
